/* Inside src/App.css */

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 22rem;
  background-color: #f0f0f0;
  border: 2px solid #333;
  border-radius: 12px;
}

.login > form > button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 60%;
  margin-left: 4rem;
  cursor: pointer;
}
