.register {
  display: flex;
  margin-top: 2rem;
  margin: 2rem auto;
  width: 22rem;
  height: 25rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #333;
  border-radius: 8px;
}

.register h2 {
  text-align: center;
}
.register form {
  margin-top: 20px;
}

.register input[type="text"],
.register input[type="email"],
.register input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.register input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
.register input[type="submit"]:hover {
  background-color: #0056b3;
}
